[Unit]
Description=blikk-crawler
After=docker.service
After=redis@%i.service
Requires=blikk-crawler-discovery@%i.service
Requires=redis@%i.service

[Service]
User=core
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment

ExecStartPre=-/usr/bin/docker kill blikk-crawler-%i
ExecStartPre=-/usr/bin/docker rm blikk-crawler-%i
ExecStartPre=-/usr/bin/docker pull dennybritz/blikk-crawler
ExecStartPre=/bin/sh -c "mkdir -p /home/core/blikk-crawler-config; etcdctl ls /announce/services/ | xargs -L1 etcdctl get > /home/core/blikk-crawler-config/seeds.txt"
ExecStart=/usr/bin/docker run --rm --name blikk-crawler-%i -p 0.0.0.0:%i:8080 --link redis-%i:redis -v /home/core/blikk-crawler-config:/blikk-crawler/config:ro -e "BLIKK_SEEDS_FILE=/blikk-crawler/config/seeds.txt" dennybritz/blikk-crawler /blikk-crawler/crawler-backend/target/start
ExecStop=/usr/bin/docker stop blikk-crawler-%i

[X-Fleet]
# TOOD. For now we can schedule on the same host.