[Unit]
Description=redis

[Service]
User=core
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill redis-%H
ExecStartPre=-/usr/bin/docker rm redis-%H
ExecStartPre=-/usr/bin/docker pull dockerfile/redis
ExecStart=/usr/bin/docker run --rm --name redis-%H -p 6379:6379 dockerfile/redis
ExecStop=/usr/bin/docker stop redis

[X-Fleet]
Global=True