[Unit]
Description=redis@%i
BindsTo=blikk-crawler@%i.service

[Service]
User=core
TimeoutStartSec=0
KillMode=none
EnvironmentFile=/etc/environment
ExecStartPre=-/usr/bin/docker kill redis-%i
ExecStartPre=-/usr/bin/docker rm redis-%i
ExecStartPre=-/usr/bin/docker pull dockerfile/redis
ExecStart=/usr/bin/docker run --rm --name redis-%i -P dockerfile/redis
ExecStop=/usr/bin/docker stop redis-%i

[X-Fleet]
MachineOf=blikk-crawler@%i.service