<configuration>

  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%date{ISO8601} %highlight(%-5level) %gray([%logger{36}]) %cyan([%X{akkaSource}]) - %msg%n</pattern>
    </encoder>
  </appender>
.t

  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>${user.dir}/log/${bySecond}.log</file>
    <encoder>
      <pattern>%date{ISO8601} %-5level [%logger{36}][%X{akkaSource}] - %msg%n</pattern>
    </encoder>
  </appender>


 <root level="debug">
    <appender-ref ref="STDOUT" />
    <appender-ref ref="FILE" />
 </root>

 <logger name="com.redis.RedisClient" level="INFO" />

<logger name="akka.cluster" level="INFO" />
<logger name="akka.serialization" level="INFO" />



</configuration>