.row
  .col-md-6.col-md-offset-3
    .well
      form.form-horizontal
        fieldset 
          legend.text-center Enter a start URL below
          br/
        .form-group
          .col-md-12
            .form-control-wrapper
              input.form-control(type='text', placeholder="http://techcrunch.com", ng-model="startUrl")
              span.material-input
        .form-group
          .col-md-12
            button.btn.btn-primary.btn-block(ng-click="startApp(startUrl)") Find contact data